body{height: 3000px;}
#head_up{width: 100%;height:36px;background: #333;}
#head_up .banner_1{width:1090px;height: 36px;line-height: 36px;margin: 0 auto;}
#head_up .banner_1 .head_upl{float: left;height: 36px;}
#head_up .banner_1 .head_upl li span{margin-right: 10px;color: #CC9756;}
#head_up .banner_1 .head_upl li a{text-decoration: underline; color: #CC9756;}
#head_up .banner_1 .head_upl li a:hover{text-decoration:none; color: #fff;}
#head_up .banner_1 .head_upr{float: right;height: 36px;}
#head_up .banner_1 .head_upr ul li{float: left;margin-left: 10px;}
#head_up .banner_1 .head_upr ul li:nth-child(7){position: relative;}
#head_up .banner_1 .head_upr ul li a{color: #ccc;}
#head_up .banner_1 .head_upr ul li:not(:nth-of-type(1))::before{display: inline-block;height: 16px;border-left: 1px solid #5c5c5c; vertical-align: middle;content: '';margin-right: 10px;}
#head_up .banner_1 .head_upr ul li span{color:#ccc; font-size: 12px;margin-left: 5px;}
#head_up .banner_1 .head_upr ul li:nth-of-type(7) span{margin-right: 3px;color: #fff;}

#tab-1{width: 80px;height: 110px; border: 1px solid #ccc;text-align: center;border-top: 0;}

#tab-2{width: 80px;height: 147px; border: 1px solid #ccc;text-align: center;border-top: 0;}
#tab-1 div,#tab-2 div{width: 60px;border-bottom: 1px solid #ccc;margin: 0 auto;}
#tab-3,#tab-1,#tab-2{display: none;}
#tab-3 img{width: 130px;height: 130px; position: absolute;left: -40px;}



#head_down{width: 1090px;margin: 0 auto;height: 100px;}
#head_down h1{float: left;margin-top: 20px;}
#head_down .head_down_z{float: left;width: 532px;height: 75px;margin-left:150px ;margin-top:25px ;}
#head_down .head_down_z .btn1{float: left; width: 441px;height: 38px;border-radius:19px 0 0 19px; border: 1px solid #CC9756;border-right: 0;}
#head_down .head_down_z .btn2{float: right;height: 40px;width: 90px;background-color:  #CC9756;border: 0;border-radius: 0 19px 19px 0;color: #fff;font-size: 16px;}
#head_down .head_down_y{float: right; width: 134px;height: 38px;border-radius: 19px;border: 1px solid #CC9756;text-align: center;line-height: 38px;margin-top:25px ;}
#head_down .head_down_zx li{float: left;margin: 0 10px;}
#head_down .head_down_zx ul{width: 444px;height: 18px;}
#head_down .head_down_zx ul li:not(:nth-of-type(1))::before{display: inline-block;height: 16px;border-left: 1px solid #5c5c5c; vertical-align: middle;content: '';margin-right: 10px;}
#head_down .head_down_zx li a{color:#CC9756 ;}
#head_down .head_down_zx .hei{color: #ccc;}

#head_down .head_down_y:hover{background:#eee2d6 ;cursor: pointer;}
#head_down .head_down_y span,#head_down .head_down_y a{color:#CC9756;}
#head_down .head_down_y span:nth-of-type(2){width: 19px;height: 19px;border-radius: 50%;background: #f00;display: inline-block;vertical-align: middle;line-height: 19px;}


#head_nav1{
   width: 1090px;
    margin: 0 auto;
    height: 30px;
}
#head_nav1 .head_nav2{
    height: 100%;
}
#head_nav1 .head_nav2 li{
    float: left;
    width:108px ;
    height: 30px;
    text-align: center;
    
}
#head_nav1 .head_nav2 li:nth-of-type(1) a{
    border-bottom: 4px solid #CC9756;
    color:#CC9756 ;
    }
#head_nav1 .head_nav2 li a{color: #000;font-weight: bold;display:inline-block;height: 26px;}
#head_nav1 .head_nav2 li a:hover{
    border-bottom: 4px solid #CC9756;
    color:#CC9756 ;
}
#head_nav1 .head_nav2 li:nth-of-type(1),#head_nav1 .head_nav2 li:nth-of-type(11){
    width: 54px;
}


#boxhdp{width:100%;height:420px;margin:0 auto;overflow:hidden;position:relative}
#img>li{width:100%;height:100%;float:left;text-align:center;display:none}
#img>.current{display:block}
#li{position:absolute;left:50%;bottom:15px;margin-left:-35px}
#li>li{width:10px;height:10px;background-color:#fff;border-radius:50%;margin-right:5px;float:left;cursor:pointer}
#li>.on{background-color:#f50}

#an a{position:absolute; top:50%;margin-top:-25px;margin-left: 60px; width:50px;height:50px;border-radius: 50%; background-color:#E2C199;text-align:center;line-height:50px;color:#fff;font-weight:600;}
#an .an-a2{right: 60px;}
#an a:hover{background-color:#CC9756}

#main{
    width: 100%;
}
#main .main_1{
    width: 1090px;
    margin: 0 auto;
    height:510px;
    margin-top: 30px;
    box-sizing: border-box;
}
#main .main_1 .main_up{
    height: 48px;
}
#main .main_1 .main_up h3{
    font-size: 28px;
    float: left;
    margin-right: 20px;
}
#main .main_1 .main_up p{
    float: left;
    padding: 16px 0 0 0;
}
#main .main_1 .main_up div{
    float: right;
    margin-top: 16px;
}
#main .main_1 .main_up a{color: #000;}
#main .main_1 .main_up a:hover{color:#CC9756}

#main .main_1 .main_down div{
    width: 265px;
    margin-right: 10px;
    float: left;
    text-align: center;
    height: 100%;
    border: 1px solid #fff;
}
#main .main_1 .main_down div:hover{
    border-color: #ccc;
    background: #eee2d6;
    cursor: pointer;
    
}
#main .main_1 .main_down .main_down_4{
    margin-right: 0;
}
#main .main_1 .main_down h4{
    width: 166px;
    height: 40px;
    line-height: 20px;
    margin: 0 auto;
    text-align: center;
    
}
#main .main_1 .main_down p{
    text-align: center;
}

#main .main_1 .main_down .main_down_2 h4{
    height: 20px;
    line-height: 20px;
    
}
#main .main_1 .main_down span{
    display: inline-block;
    height: 20px;
    margin: 8px 0 8px 0;
}
#main .main_1 .main_down h4 a{
    color: #333;
}
#main .main_1 .main_down p a{
    color: #d4282d;
}
#main .main_1 .main_down .main_down_2 span{
    width: 34px;
    height: 20px;
    background-color: #e36844;
    
}
#main .main_1 .main_down .main_down_2 span a,#main .main_1 .main_down .main_down_4 span a{
    color: #fff;
}

#main .main_1 .main_down .main_down_4 span {
    width: 58px;
    height: 20px;
    background-color: #e36844;
}


#xiding_l{
    width: 110px;
    border: 1px solid #E2DED6;
    position: absolute;
    left: 0;
    top: 610px;
    background: #fff;
}
#xiding_l h4{
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #BB3343;
    font-size: 16px;
}
#xiding_l li{
   
    text-align: center;
    color: #BB3343;
    cursor: pointer;
    padding: 0 15px;
}
#xiding_l li span{
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    padding-top: 10px;
    font-size: 18px;
    color: #BB3343;
}

#xiding_l li p{
    float: right;
    width: 45px;
    text-align: left;
}
#xiding_l li a{
    color: #333;
    overflow: hidden;
    display: block;
}
#xiding_l li a:hover{
    color: #BB3343;
}
#xiding_l li:nth-of-type(1) a p{
    font-weight: bold;
}
#xiding_l li::before{
    border-top: 1px solid #ccc;
    content: '';
    display: inline-block;
    margin: 0 auto;
    width: 88px;
}

#xiding_r{
    
    top: 610px;
    width: 72px;
    position: absolute;
    right: 0;
    text-align: center;
}
#xiding_r div img{
    width: 70px;
    height: 70px;
}
#xiding_r div p{
    text-align: center;
    color: #666;
}
#xiding_r div a{
    color: #666;
}
#xiding_r div a span{
   font-size: 40px;
  
}
#xiding_r div a:hover{
    color: #CC9756;
}
#xiding_r div a:hover p{
    color: #CC9756;
}
#xiding_r div::after{
    border-bottom: 1px solid #ccc;
    content: '';
    display: inline-block;
    width: 60px;
    margin: 0 auto;
}
#xiding_r div .hong{
    color: #BC3B3B;
}
#xiding_r .hui{
    display: none;
}


#main .main_2{
    width: 100%;
    background: #f4f0ea;
}
#main .main_2 .main_2_z{
    width: 1090px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 800px;
}
#main .main_2 .main_2_z .lll{
    height: 36px;
  padding-top: 60px;
  
}
#main .main_2 .main_2_z .main_2_z1{
    float: left;
    padding: 0 0 20px;
}

#main .main_2 .main_2_z .main_2_z1 p{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin-right: 55px;
    
}
#main .main_2 .main_2_z .main_2_z1 p:nth-of-type(1){
    border-bottom: 2px solid #b4a078;
    
}
#main .main_2 .main_2_z .main_2_z1 p:nth-of-type(1) a{
    color:#b4a078 ;
}
#main .main_2 .main_2_z .main_2_z1 p:nth-of-type(2) a{
    color: #333;
}
#main .main_2 .main_2_z .main_2_z1 p:nth-of-type(2) a:hover{
    color:#b4a078 ;
}
#main .main_2 .main_2_z .main_2_z1 h3{
    display: inline-block;
    width: 112px;
    height: 28px;
    font-size: 28px;
    font-weight: 700px;
    margin-right: 33px;
    
}
#main .main_2 .main_2_z .main_2_z1 h3 a{
    color: #333;
}
#main .main_2 .main_2_z .main_2_z2{
    float: right;
}
#main .main_2 .main_2_z .main_2_z2 a{
    color: #333;
}
#main .main_2 .main_2_z .main_2_z2 a:hover{
    color:#b4a078 ;
}
#main .main_2 .main_2_z .main_2_z3 div{
    float: left;
    background: #fff;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}
#main .main_2 .main_2_z .main_2_z3 div:not(:nth-of-type(1)) img{
    width: 180px;
    height: 180px;
    margin: 0 21.5px;
    
}
#main .main_2 .main_2_z .main_2_z3 h4{
    width: 136px;
    height: 40px;
    line-height: 20px;
    margin: 0 auto;
}
#main .main_2 .main_2_z .main_2_z3 h4 a{
color: #333;
}
#main .main_2 .main_2_z .main_2_z3 p{
    margin: 1px 0 9px 0;
}
#main .main_2 .main_2_z .main_2_z3 p a{
    color: #d4282d;
}
#main .main_2 .main_2_z .main_2_z3{
    overflow: hidden;
    float: left;
    
}
#main .main_2 .main_2_z .main_2_z3 span{
    font-size: 12px;
    color: #fff;
    background-color: #e36844;
    display: inline-block;
    padding: 0 5px;
    
}
#main .main_2 .main_2_z .main_2_z3 .main_2_z4 img{
    width: 320px;
    height: 376px;
    margin: 40px 35px;
    margin-left: 0px;
}



























#footer .footer_top{
    padding-top: 60px;
    padding-bottom: 34px;
    border-top: 1px solid #e8e8e8;
}
#footer .footer_top .footer_ban{
    width: 1090px;
    margin: 0 auto;
   
}
#footer .footer_top .footer_ban .footer_top1{
    float: left;
    width: 33.33333%;
    height: 204px;   
}
#footer .footer_top .footer_ban .footer_top2{
    float: left;
    width: 33.33333%;
    height: 204px;   
}
#footer .footer_top .footer_ban .footer_top3{
    float: left;
    width: 33.33333%;
    height: 204px;   
}
#footer .footer_top .footer_ban .footer_top1 h4{
    width: 363.33px;
    height: 18.5px;
    line-height: 18.5px;
    text-align: center;
    margin: 0 0 28px;
}
#footer .footer_top .footer_ban .footer_top1{
    text-align: center;
    border-right: 1px solid #ccc;
}
#footer .footer_top .footer_ban .footer_top1 a:nth-of-type(1){
    margin-right: 29px;
}
#footer .footer_top .footer_ban .footer_top1 a{
    color: #333;
    display:inline-block;
    width: 80px;
    height: 100px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 25px 0 0 0 ;  
}
#footer .footer_top .footer_ban .footer_top1 a:hover{
    color: #b4a078;
}
#footer .footer_top .footer_ban .footer_top1 a p{
    margin-top: 10px;
    line-height: 26px;
}
#footer .footer_top .footer_ban .footer_top1 a span{
    font-size: 31px;
    
}
#footer .footer_top .footer_ban .footer_top2{
    padding: 0 37px;
    border-right: 1px solid #ccc;
}
#footer .footer_top .footer_ban .footer_top2 h4{
    width: 289.33px;
    height: 18.5px;
    line-height: 18.5px;
    text-align: center;
    margin: 0 0 28px;
    font-size: 16px;
    font-weight: 400;
}
#footer .footer_top .footer_ban .footer_top2 p{
    line-height: 23px;
    font-size: 13px;
    text-align: left;
    margin-bottom: 22px;
}
#footer .footer_top .footer_ban .footer_top2 div:nth-of-type(2) div:nth-of-type(1){
    width: 32px;
    height: 32px;
    background:url(../images/bj-icon7.png) no-repeat 0 -470px;
}
#footer .footer_top .footer_ban .footer_top2 div:nth-of-type(2) div:nth-of-type(2){
    width: 32px;
    height: 32px;
    background:url(../images/bj-icon7.png) no-repeat 0 -428px;
}
#footer .footer_top .footer_ban .footer_top2 div:nth-of-type(2) div:nth-of-type(3){
    width: 32px;
    height: 32px;
    background:url(../images/bj-icon7.png) no-repeat 0 -326px;
}
#footer .footer_top .footer_ban .footer_top2 div:nth-of-type(2) div,#footer .footer_top .footer_ban .footer_top2 div:nth-of-type(2) p{
    float: left;
    margin-right: 15px;
}
#footer .footer_top .footer_ban .footer_top2 div:nth-of-type(2) p{
    margin-top: 4px;
}
#footer .footer_top .footer_ban .footer_top3 h4{
    width: 363.33px;
    height: 18.5px;
    line-height: 18.5px;
    text-align: center;
    margin: 0 0 28px;
    font-size: 16px;
    font-weight: 400;
}
#footer .footer_top .footer_ban .footer_top3{
    text-align: center;
}
#footer .footer_top .footer_ban .footer_top3 img{
    display: inline-block;
}
#footer .footer_top .footer_ban .footer_top3 p{
    color: #b4a078;
}



























