body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
img,
input,
ul,
li,
ol,
dl,
dt,
dd,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    border: 0;
}

input,button {
    outline: none;
}

body,
html {
    height: 100%;
}

body {
    font-size: 14px;
    color: #333;
    font-family: "微软雅黑";
}
*{box-sizing: border-box;}





@font-face {
    font-family: 'iconfont';
    src: url('../font_8i54jxfwluu/iconfont.eot');
    src: url('../font_8i54jxfwluu/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font_8i54jxfwluu/iconfont.woff2') format('woff2'),
        url('../font_8i54jxfwluu/iconfont.woff') format('woff'),
        url('../font_8i54jxfwluu/iconfont.ttf') format('truetype'),
        url('../font_8i54jxfwluu/iconfont.svg#iconfont') format('svg');
  }



  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  